# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# Build outputs
Debug/
Release/
x64/
x86/
out/
build/
build-*/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.recipe
*.log
*.exe

# OS files
.DS_Store
Thumbs.db
